body {
  background: linear-gradient(to right, #fdc435, #eee);
  margin: 0;
}
.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.navbar a {
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
}
.navbar a:hover {
  background-color: #e0e0e0;
  color: black;
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.Icon {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 50px;
  font-family: "DM Sans", sans-serif;
}
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-top: 80px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid black;
  transition: border-color 0.3s ease;
}
.profile-image:hover{
  border-color:black;
}

.chat-bar {
  position: fixed;
  top: 600px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
  background: white;
}

.chat-bar form {
  display: flex;
}

.chat-bar input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  border-radius: 25px 0 0 25px;
}

.chat-bar button {
  border: none;
  background-color: black;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  flex-shrink: 0;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}
h2 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  padding-top: 5px;
}
